<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-8">

    <div class="courses" *ngIf="courseList">
      <h5>Courses</h5>
    <form class="form-inline my-2 my-lg-0">
      <input name="search-field" class="form-control mr-sm-2" placeholder="Search" aria-label="Search" type="text" [(ngModel)]="params">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="search()">Search</button>
    </form>
      <table class="table">
        <thead class="h">
          <tr class="h">
            <th class="h">Name</th>
            <th class="h">Address</th>
            <th class="h">Notes</th>
            <th class="h">Tags</th>
            <th class="h"></th>
          </tr>
        </thead>
        <tbody>
          
          <tr class="course col-lg-12" (dblclick)="editCourse(course)" *ngFor="let course of courseList">
          	<ng-container *ngIf="!editCourseList.includes(course); else elseBlock">
	            <td>{{course.name}}</td>
	            <td>{{course.address.number}} {{course.address.street}}<br>{{course.address.city}} {{course.address.state}} {{course.address.zip}}</td>
	            <td>{{course.notes}}</td>
	            <td>
	    					<tag-input [(ngModel)]="course.tags" (blur)="updateCourse(course)"></tag-input>
	            </td>
	            <td>
	              <button class="btn btn-info" (click)="editCourse(course)">
	                  <i  class="fa fa-pencil"></i>
                </button>
	              <button class="btn btn-danger" (click)="deleteCourse(course)">
	                  <i  class="fa fa-trash"></i>
                </button>
	            </td>
          	</ng-container>

          	<ng-template #elseBlock>
          		<td>
          			<input type="text" name="name" id="name" [(ngModel)]="course.name" placeholder="" class="form-control">
          		</td>
          		<td>
	      				<input name="street" id="street" [(ngModel)]="course.address.street" placeholder="1234 Main St." class="form-control">
	      				<input name="city" id="city" [(ngModel)]="course.address.city" placeholder="Sometown" class="form-control">
	      				<input name="state" id="state" [(ngModel)]="course.address.state" placeholder="OH" class="form-control">
	      				<input name="zip" id="zip" [(ngModel)]="course.address.zip" placeholder="12345" class="form-control">
	      			</td>
      				<td>
      					<textarea name="notes" id="notes" [(ngModel)]="course.notes" placeholder="" class="form-control"></textarea>
      				</td>
      				<td>
    						<tag-input id="tags" name="tags" [(ngModel)]="course.tags" (blur)=updateCourse(course)></tag-input>	
    					</td>
	            <td>
	              <button class="btn btn-success" (click)="updateCourse(course)">
	                  <i  class="fa fa-check"></i>
                </button>
	            </td>
          	</ng-template>

          </tr>
        
        </tbody>
      </table>
    </div>


    
  </div>
  <div class="col-xs-2">
    
  </div>
</div>